.messages-container {
    height: 53vh;
    padding: 20px;
    overflow-y: auto;
}

@media only screen and (max-width: 768px) {

    .messages-container {
        height: 100%;
        overflow-y: auto;
    }

}