.header {
  height: 70px;
  background-color: #27bccf;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .header-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top: 10px;
}

.log-out-btn {
  position: absolute;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-cont {
  height: 90vh;
  display: grid;
  align-items: center;
}
.login-cont .login-wrap {
  color: #282c34;
  font-weight: 600;
  background-color: #dfdfdf;
}
.login-cont .login-wrap .login-img-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.login-cont .login-wrap .login-img-wrapper .login-icons {
  width: 60%;
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.login-cont .login-wrap .login-img-wrapper .login-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.login-cont .login-wrap .login-img-wrapper .login-img:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 2px #282c34;
  transform: scale(1.2);
}
.login-cont .login-wrap .login-img-wrapper .active {
  box-shadow: 0 0 2px 6px #59c03a;
  transform: scale(1.2);
}
.login-cont .login-wrap .login-img-wrapper .active:hover {
  box-shadow: 0 0 2px 6px #59c03a;
}
.login-cont .login-wrap .login-submit-btn {
  width: 100%;
}
.login-cont .login-wrap .text-error {
  color: red;
}
.login-cont .login-wrap .error {
  border: 2px solid red;
}

.main-cont {
  height: 80vh;
  display: grid;
  align-items: center;
}
.main-cont .screen {
  height: 60vh;
  background-color: #fff;
  color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.msg-input {
  border-top-left-radius: 0;
}
.msg-input:focus {
  box-shadow: none;
}

.msg-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.messages-container {
  padding: 20px;
}

.message {
  background-color: #e0dddd;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
}
.message .message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.message .my-username {
  position: absolute;
  top: 5px;
  font-size: 10px;
  font-weight: 800;
}
.message .message-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.message .message-text {
  margin: auto auto;
}

/* MY MESSAGE */
.my-message {
  background-color: #4de486;
}
.my-message::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: -6px;
  left: -8px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #4de486;
  border-radius: 5px;
  transform: rotate(30deg);
}

/* OTHER MESSAGE */
.other-message {
  justify-content: flex-end;
  margin-left: auto;
}
.other-message .other-message-wrapper {
  flex-direction: row-reverse;
}
.other-message .other-username {
  position: absolute;
  top: 5px;
  font-size: 10px;
  font-weight: 800;
}
.other-message::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: -6px;
  right: -8px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #e0dddd;
  border-radius: 5px;
  transform: rotate(150deg);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
}

.app {
  height: 100vh;
  background-color: #282c34;
  color: #fff;
}/*# sourceMappingURL=main.css.map */