.main-cont {
    height: 80vh;
    display: grid;
    align-items: center;

    .screen {
        height: 60vh;
        background-color: $white-color;
        color: $dark-color;
        display: flex;
        justify-content: flex-start; 

        .messages-input {
            width: 80%;
            margin-top: auto
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-cont {
    
        .screen {
            flex-direction: column-reverse;
            gap: 3em;
    
            .messages-input {
                height: 70%;
                width: 100%;
            }
        }
    }

}

